<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="nav">
      <li><a href="/">Shop</a></li>
      <li><a href="/admin/add-product">Products</a></li>
    </nav>
    <main>
      <% if(prods.length > 0){ %>
      <div>
        <% for(let product of prods) { %>
        <article>
          <header>
            <h1 class="proTitle"><%= product.model %></h1>
          </header>
          <div>
            <img src="<%= product.image %>" alt="product image">
          </div>
          <div>
            <h2 class="proPrice">$ <%= product.price %></h2>
            <p class="proDetail"><%= product.title %></p>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h1>No products in Database...!</h1>
      <% } %>
    </main>
  </body>
</html>
